{% load i18n %}
{% load allauth %}
{% load static %}
{% load filters %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=SUSE:wght@100..800&display=swap" rel="stylesheet">
        <link rel='stylesheet' href="{% static 'css/account/password_reset.css' %}">

        <title>
            {% block head_title %}
                {% trans "Password Reset" %}
            {% endblock head_title %}
        </title>
    </head>
    <body>
    {% block content %}
    <div class='product-list-container'>
        <div class='center-background-box'>
            <h1>Password Reset</h1>
            <div class='shipping-container'>
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <form method="post" action='{% url "account_reset_password" %}'>
                    {% csrf_token %}
                    {% for field in form %}
                        <div>
                            <p class='label'>{{ field.label_tag }}</p>
                            {% if field.errors %}
                                <div>
                                    {% for error in field.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {{ field|add_field_class:'alnum-input' }}
                        </div>
                    {% endfor %}
                    <div class='center-background-box'>
                        <button type="submit" class="btn blue-btn">Reset My Password</button>
                    </div>
                </form>
                <p>Please contact us if you have any trouble resetting your password.</p>
            </div>
        </div>
    </div>
    {% endblock content %}
    </body>
</html>